<h2>店舗一覧</h2>

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			<% @shops.each do |shop| %>
			<div class="column is-3">
				<div class="card">
					<div class="card-content">
						<div class="card-image">
							<figure class="image">
								<%= attachment_image_tag shop, :image, :size =>'300x300', fallback: "no_image.jpg" %>
							</figure>
						</div>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<div class="title"><%= link_to shop.name, admin_shop_path(shop) %></div>
							</div>
						</div>
						<div class="content">
							<P><%= shop.phone_number %></P>
							<%= shop.address %>
							<%= link_to "削除", admin_shop_path(shop), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "pull-denger", class: "btn btn-danger btn-xs" %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>