
<h4>店舗編集</h4>

<%= form_with model: @shop, url: admin_shop_path(@shop), local: true do |f| %>

<div><%= f.label :店舗画像 %>
	<%= f.attachment_field :image %>
</div>

<div>
	<%= f.label :店舗名 %>
	<%= f.text_field :name %>
</div>

<%= f.label :店舗説明 %>
<%= f.text_area :explanatory %>

<h5>URL</h5>
<%= f.text_field :shop_url %>

<h5>電話番号</h5>
<%= f.text_field :phone_number %>

<h5>住所</h5>
<%= f.text_field :address %>

<%= f.submit '変更を保存' %>
<% end %>

