<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        Sign up
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="colums is-centered">
      <div class="colums is-5">  
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :姓 %>
          <P class="control has-icons-left">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "first_name", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </P>
        </div>

        <div class="field">
          <%= f.label :名 %>
          <P class="control has-icons-left">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "last_name", class: "input" %>
          <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </P>
        </div>

        <div class="field">
          <%= f.label :電話番号 %>
          <P class="control has-icons-left">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :placeholder => "phone_number", class: "input" %>
                    <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </P>
        </div>

        <div class="field">
          <%= f.label :email %>
           <p class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
          <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
                      <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <p class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
                      <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-success" %>
        </div>
        <% end %>


<%= render "members/shared/links" %>
      </div>
    </div>
  </div>
</section>
