<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
<h4>商品編集</h4>

<%= form_with model: @product, url: admin_product_path(@product), local: true do |f| %>

		<div>
			<%= f.label :商品画像 %>
			<%= f.attachment_field :image %>
		</div>

		<div>
			<%= f.label :商品名 %>
			<%= f.text_field :name, class: "form-control"  %>
		</div>


		<div>
			<%= f.label :商品説明 %>
			<%= f.text_area :introduction,  class: "form-control"  %>
		</div>

		<div>
			<%= f.label :税抜価格 %><br>
			<%= f.text_field :price %>円
		</div>

		<div>
			<%= f.submit "変更を保存", class: "btn btn-primary" %>
		</div>

		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>