<!DOCTYPE html>
<html>
<head>
  <title>SYOUMI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- %script{src: "https://js.pay.jp/", type: "text/javascript"} -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <header>

    <div class="navbar is-danger ">
      <div class="navbar-brand">
        <h1 class="title is-4" style="font-family: cursive;">SYOUMI</h1>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <ul>
        <% if member_signed_in? %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

              <li><div class="welcome-text">
                ようこそ <%= current_member.first_name + current_member.last_name %> さん 
              </div></li>

              <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "fas fa-sign-out-alt faa-wrench animated button is-warning is-outlined" %></li>
              <li><%= link_to "店舗一覧", shops_path, class: "fas fa-store-alt faa-bounce animated button is-warning is-outlined" %></li>
              <li><%= link_to 'マイページ', member_path(current_member.id), class: "fas fa-male faa-tada animated animated button is-warning is-outlined" %></li>
              <li><%= link_to "お問い合わせ", inquiry_path, class: "fas fa-id-card faa-vertical animated button is-warning is-outlined" %></li>
              <li><%= link_to "ホーム", root_path, class: "fas fa-crown faa-spin animated button is-warning is-outlined" %></li>
                              <% if admin_signed_in? %>
            <li>管理者</li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt faa-wrench animated button is-warning is-outlined" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>

      
      <% else %>
      <div class="navbar-item">
      <li><%= link_to "新規登録", new_member_registration_path, class: "fas fa-sign-out-alt faa-wrench animated button is-warning is-outlined" %></li>
      <li><%= link_to "ログイン", new_member_session_path, class: "fas fa-crown faa-spin animated button is-warning is-outlined" %></li>
    </div>
      <% end %>



      
    </div>
  </header>
  <% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
  <div class="notification is-danger">
    <p class="alert"><%= alert %></p>
  </div>
  <% end %>
  <%= yield %>
  <footer>
    　　<ul class="footer-menu">
     <li>サービス</li>
   </ul>
   <p>© All rights reserved by syoumi.</p>
 </footer>
</body>
</html>
